<ion-content padding>

  <ion-row class="login-logo">
    <ion-col><img src="assets/img/logo.png" /></ion-col>
  </ion-row>

    <ion-row class="login-form">
      <ion-col>
        <ion-list inset>

          <ion-item>
            <ion-label><ion-icon name="person"></ion-icon></ion-label>
            <ion-input [(ngModel)]="loginData.username" placeholder="username" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label><ion-icon name="lock"></ion-icon></ion-label>
            <ion-input [(ngModel)]="loginData.password" placeholder="password" type="password"></ion-input>
          </ion-item>

        </ion-list>

        <button ion-button (click)="doLogin()" primary class="login-button">Login</button>

      </ion-col>
    </ion-row>
</ion-content>
