<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button [menuToggle]="activeMenu">
      <ion-icon name="menu" class="header-icon"></ion-icon>
    </button>
    <ion-title class="header-title">Dashboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">
<h2></h2>
  <ion-card>
  <img src="assets/img/md.png"/>
  <div class="card-title">Texas Science and Engineering Fair</div>
</ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-icon name="cog" class="iconHeader"></ion-icon><br/>
            Fair Setup
          </ion-card-content>

        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-icon name="flask" class="iconHeader"></ion-icon><br/>
           Create/Edit Categories
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-icon name="person-add" class="iconHeader"></ion-icon><br/>
            Setup SRC & IRB
          </ion-card-content>

        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-icon name="laptop" class="iconHeader"></ion-icon><br/>
            Open Registration
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-icon name="trophy" class="iconHeader"></ion-icon><br/>
            Select Winner
          </ion-card-content>

        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-icon name="checkmark" class="iconHeader"></ion-icon><br/>
            Finalize Winners
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
