<!--
  Generated template for the ScanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button [menuToggle]="activeMenu">
      <ion-icon name="menu" class="header-icon"></ion-icon>
    </button>
    <ion-title class="header-title">Scan Document</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button class="select-image" ion-button block *ngIf="!srcImage" (click)="presentActionSheet()" color="light">
  <ion-icon name="camera"></ion-icon>
  </button>

  <div *ngIf="srcImage" class="image-wrapper">
    <img id="image" [src]="srcImage" />
    <button ion-button icon-left block (click)="analyze()" color="light">
      <ion-icon name="search"></ion-icon>
      Read
    </button>
    <button ion-button icon-left block (click)="restart()" color="light">
      <ion-icon name="refresh"></ion-icon>
      Restart
    </button>
  </div>

</ion-content>
