page-new-message {
  ion-icon {
    margin-right: 10px;
  }
  ion-textarea{
    min-height: 140px;
  }
  textarea {
    max-width: 100%;
    width: 100%;
    height: 40vh;
  }
  .send-message-container{
    background-color: #3498db;
  }

  .text-element{
    border-bottom: 3px solid #dedede !important;
  }

}
