<!--
  Generated template for the NewMessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="header-title">Compose Message</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="outer-content send-message-container">
  <ion-card>

    <ion-list>
      <ion-item class="text-element">
        <ion-input type="text" value="" placeholder="To: (Username or Email)" [(ngModel)]="message.user"></ion-input>
      </ion-item>
      <ion-item class="text-element">
        <ion-input type="text" value="" placeholder="Subject" [(ngModel)]="message.subject"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-textarea name="Message" value="" placeholder="Message Body" [(ngModel)]="message.body"></ion-textarea>
      </ion-item>
    </ion-list>

  </ion-card>

  <button ion-button color="favorite" round block (click)="sendMessage()"><ion-icon name="paper-plane"></ion-icon>  Send Message</button>
</ion-content>
