<ion-menu [content]="content" id="menu">

  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title><img class="header-logo" src="assets/img/logo.png" /></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="item side_menu_item side_menu_header">
      <img [src]="userData.profilePhoto" class="profile-border side_menu_avatar">
      <h2 class="side_menu_header_text roboto-bold">{{userData.name}}</h2>
      <h3 class="side_menu_header_text roboto-thin">{{userData.role}}</h3>
    </div>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
