// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.header-logo{
  height: 18px;
  margin-top: 10px;
}

.side_menu_header_text{
  color: #fff;
  text-align: center;
}

.side_menu_avatar{
  top: 16px;
  left: 16px;
  max-width: 70px;
  max-height: 70px;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: #eae6e6;
  border-style: solid;
}

.side_menu_header{
  color: #ffffff;
  background: #3498db;
}

.side_menu_header_text{
  font-size: 18px;
}

.toolbar-background {
  background-color: #3498db;
}

.header-icon{
  color: #fff;
}

.header-title .toolbar-title{
  color: #ffffff;
}

ion-header ion-icon.back-button-icon.icon {
  color: #ffffff;
}
