<ion-header>

  <ion-navbar>
    <button ion-button [menuToggle]="activeMenu">
      <ion-icon name="menu" class="header-icon"></ion-icon>
    </button>
    <ion-title class="header-title">Messages</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <div class="no-msg" *ngIf="!messages || messages.length==0; else hasMessages">
      <div class="row">
        <div class="col">
          <div class="text-center">
            <h3 style="text-align: center;">You currently have no messages!</h3>
            <p style="text-align: center;">To check for messages you can pull down on this page.</p>
          </div>
        </div>
      </div>
    </div>
    <ion-item-sliding *ngFor="let message of messages" #hasMessage>

      <ion-item (click)="openMessage(message.id, message.username)">
        <ion-avatar item-start>
          <img src="http://dev.scienteer.com{{message.profile_photo}}">
        </ion-avatar>

        <h2 *ngIf="message.read=='0'"> <ion-icon name="mail"></ion-icon> {{message.firstname}} {{message.lastname}}</h2>
        <h2 *ngIf="message.read=='1'" >{{message.firstname}} {{message.lastname}}</h2>
        <h3>{{message.subject}}</h3>
      </ion-item>

      <ion-item-options>
      <button ion-button icon-only (click)="replyMessage(message.id, message.username,message.subject)" color="light">
        <ion-icon name="undo"></ion-icon>
      </button>
      <button ion-button icon-only (click)="deleteMessage(message.id)" color="danger">
        <ion-icon name="trash"></ion-icon>
      </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="newMessage()" ><ion-icon name="paper-plane"></ion-icon></button>
  </ion-fab>

</ion-content>
