<ion-header>

  <ion-navbar class="header-icon">
    <ion-title class="header-title">Message</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let msg of message">

    <ion-item>
      <ion-avatar item-start>
        <img src="http://dev.scienteer.com{{msg.senderPhoto}}">
      </ion-avatar>
      <h2>{{msg.senderName}}</h2>
      <p>{{msg.timestamp.date}}</p>
    </ion-item>
    <ion-card-content>
      <div [innerHTML]="msg.body"></div>
    </ion-card-content>

    </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="replyMessage()" ><ion-icon name="undo"></ion-icon></button>
  </ion-fab>

</ion-content>
